.container {
    grid-column: 1/2;
    grid-row: 4;
    position: relative;
}

.horizontal {
    position: absolute;
    top: 1.5rem;
    width: 5rem;
    height: 2rem;
    border-radius: 3px;
    background-color: black;

}

.vertical {
    position: absolute;
    left: 1.5rem;
    height: 5rem;
    width: 2rem;
    border-radius: 3px;
    background-color: black;
}