.redButtonContainer {
    grid-column: 4 / 6;
    grid-row: 4;
    justify-self: end;
    transform: rotate(-20deg); 

}

.redButton {
    width: 8rem;
    height: 3rem;
    background-color: #851c53;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
}

.redButton:hover{
    background-color: #b92573;
}

.getUserText {
    color: #3d1c7d;
    margin-left: 0.5rem;
}