.onButton {
  grid-column: 1;
  grid-row: 6;
  height: 5rem;
  width: 5rem;
  border-radius: 40px;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
}

.appText {
  grid-column: 1/4;
}
