.onButton {
  grid-column: 1;
  grid-row: 5;
  align-self: end;
  height: 5rem;
  width: 5rem;
  border-radius: 40px;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
}

.appText {
  margin-top: 1rem;
  grid-column: 1/6;
  font-weight: 300;
  font-size: 1rem;
}
