.onButton {
  grid-column: 3/4;
  grid-row: 4;
  height: 5rem;
  width: 5rem;
  border-radius: 40px;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
}

.appText {
  color: #3d1c7d;
  grid-column: 1/4;
}
